.pokemonLogo {
  
  background-image: url("pokemonLogo.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
